* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url('assets/images/banner.png');
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}